    <!DOCTYPE html>
    <html>
      <head>
        <title>MyContacts</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>
      <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02"> </div>
            <a class="navbar-brand text-uppercase" href="/contacts">
              CONTACTS
            </a>
            <div class="container-fluid pull-right"><%= button_to 'Logout', logout_path, method: :delete %></div>
            <div class="container-fluid pull-right"><a href="/contacts/new" class="btn btn-primary">Add New</a></div>
            
          
          </div>
          
        </nav>
        <!-- content -->
        <main class="pt-5">
          <div class="container">
            <div class="row">
              
              <div class="col-md-9">
              
              <% flash.each do |type, message| %>
                <%= content_tag :div, class: "alert alert-#{type} alert-dismissible", role: "alert" do %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <%= message %>
                <% end %>
              <% end %>

                  <%= yield %>
              </div>
            </div>
          </div>
      </body>
    </html>

